<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.ghunit.iosTestBundle</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>TargetOnly</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Test Cases/SampleTest.m</key>
		<dict>
			<key>Group</key>
			<string>Test Cases</string>
			<key>Path</key>
			<string>Test Cases/SampleTest.m</string>
		</dict>
		<key>Libraries/OCMock/libOCMock.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/libOCMock.a</string>
		</dict>
		<key>Libraries/OCMock/Headers/OCMock/OCMock.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
				<string>Headers</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/Headers/OCMock/OCMock.h</string>
		</dict>
		<key>Libraries/OCMock/Headers/OCMock/NSNotificationCenter+OCMAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
				<string>Headers</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/Headers/OCMock/NSNotificationCenter+OCMAdditions.h</string>
		</dict>
		<key>Libraries/OCMock/Headers/OCMock/OCMArg.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
				<string>Headers</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/Headers/OCMock/OCMArg.h</string>
		</dict>
		<key>Libraries/OCMock/Headers/OCMock/OCMConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
				<string>Headers</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/Headers/OCMock/OCMConstraint.h</string>
		</dict>
		<key>Libraries/OCMock/Headers/OCMock/OCMockObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
				<string>Headers</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/Headers/OCMock/OCMockObject.h</string>
		</dict>
		<key>Libraries/OCMock/Headers/OCMock/OCMockRecorder.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>OCMock</string>
				<string>Headers</string>
				<string>OCMock</string>
			</array>
			<key>Path</key>
			<string>Libraries/OCMock/Headers/OCMock/OCMockRecorder.h</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for any application. It provides just an application delegate and a window.</string>
	<key>Identifier</key>
	<string>com.ghunit.ocmock.iosTestBundle</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Test Cases/SampleTest.m</string>
		<string>Libraries/OCMock/libOCMock.a</string>
		<string>Libraries/OCMock/Headers/OCMock/OCMock.h</string>
		<string>Libraries/OCMock/Headers/OCMock/NSNotificationCenter+OCMAdditions.h</string>
		<string>Libraries/OCMock/Headers/OCMock/OCMArg.h</string>
		<string>Libraries/OCMock/Headers/OCMock/OCMConstraint.h</string>
		<string>Libraries/OCMock/Headers/OCMock/OCMockObject.h</string>
		<string>Libraries/OCMock/Headers/OCMock/OCMockRecorder.h</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>HEADER_SEARCH_PATHS</key>
				<string>"___PACKAGENAME___/Libraries"/**</string>
				<key>LIBRARY_SEARCH_PATHS</key>
				<string>"___PACKAGENAME___/Libraries"/**</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
